.Display {
  font-family: cursive;
}

.Select {
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Option {
  border: 1px solid black;
  width: 7.5rem;
  height: 2.5rem;
  text-align: center;
  margin: auto;
}

.On {
  background-color: cornflowerblue;
}

.Off {
  background-color: white;
}

.Option:hover {
  cursor: pointer;
}

.OptionText {
  transform: translateY(-50%);
}

.Gallery {
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  height: 40rem;
  text-align: center;
  overflow-y: auto;
  place-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 450px) {
  .DropdownOptions {
    border: 1px solid black;
    text-align: center;
    margin: auto;
  }

  .ListOfChoices {
    position: absolute;
    left: 137px;
    top: 142px;
  }

  .Choices {
    border: 1px solid black;
    width: 7.5rem;
    height: 2rem;
    text-align: center;
    margin: auto;
    background-color: white;
  }

  .ChoiceText {
    transform: translateY(20%);
  }

  .Selected {
    width: 7.5rem;
    height: 2rem;
    transform: translateY(5%);
    font-size: larger;
    font-weight: bolder;
  }

  .ArrowDown {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
    left: 97px;
    top: 12px;
    position: absolute;
  }

  .ArrowUp {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    left: 97px;
    top: 12px;
    position: absolute;
  }

  .Gallery {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 380px;
    gap: 4rem;
    height: 61rem;
    text-align: center;
    overflow-y: auto;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .Pictures {
    padding: 1rem;
  }
}
