.Header {
  display: flex;
  border: 1px solid black;
  font-family: cursive;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Title {
  padding: 0.3rem;
}

.Title:hover {
  cursor: pointer;
}

.Menus {
  display: flex;
  margin-left: auto;
}

.Menu {
  padding: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Menu:hover {
  cursor: pointer;
}

.Burger {
  width: 1.75rem;
  position: absolute;
  left: 340px;
  top: 35px;
}

.Bar {
  border: 1px solid black;
  margin-top: 7px;
}

@media (max-width: 450px) {
  .Menus {
    position: absolute;
    display: inline;
    left: 275px;
    top: 75px;
  }

  .Menu {
    border: 1px solid black;
    background-color: white;
    width: 5rem;
    height: 1.5rem;
  }
}
